In [36]:
import pandas as pd
import pandas as pd
data = pd.read_csv(r"/content/testing3.csv")

In [66]:
data

,perc_9,perc_10,s1,s2,s3,s4,s5,s6,a1,a2,a3,c1,c2,c3,stream
0,9.5,9.5,53,-10,1/26,Dmitri_Mendeleev,Regeneration,45,Japan,Pratibha_Patil,Barter_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,science
1,9.5,9.5,53,-10,1/26,Dmitri_Mendeleev,Regeneration,45,Japan,Pratibha_Patil,Barter_Transactions,Economic_Problem,Financial_Statements,Startup_Entrepreneurship,science
2,9.5,9.5,53,-10,1/26,Dmitri_Mendeleev,Regeneration,45,Japan,Pratibha_Patil,Barter_Transactions,Economic_Problem,Cost_Accounting,State_Entrepreneurship,science
3,9.5,9.5,53,-10,1/26,Dmitri_Mendeleev,Regeneration,45,Japan,Pratibha_Patil,Barter_Transactions,Marginal_Cost,Financial_Statements,State_Entrepreneurship,science
4,9.5,9.5,53,-10,1/26,Dmitri_Mendeleev,Regeneration,45,Japan,Pratibha_Patil,Plastic_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,science
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,8.5,8.5,37,2,1/52,Neil_Bohr,Budding,40,USA,Indira_Gandhi,Barter_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,commerce
223,8.5,8.5,37,2,1/52,Neil_Bohr,Budding,40,USA,Pratibha_Patil,Barter_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,commerce
224,8.5,8.5,37,2,1/52,Neil_Bohr,Budding,45,Japan,Pratibha_Patil,Barter_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,commerce
225,8.5,8.5,37,2,1/52,Neil_Bohr,Regeneration,45,USA,Indira_Gandhi,Plastic_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,commerce
226,8.5,8.5,53,-10,1/26,Neil_Bohr,Budding,40,USA,Indira_Gandhi,Plastic_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,commerce

In [38]:
descriptions =data['perc_9'].apply(str) +' '+ data['perc_10'].apply(str) + ' ' + data['s1'].apply(str) +' '+ data['s2'].apply(str)+' ' +data['s3'].apply(str) +' ' +data['s4'] +' ' + data['s5'] +' '+data['s6'].apply(str) +' '+data['a1'] +' '+data['a2'] +' '+data['a3'] +' '+data['c1'] +' '+data['c2'] +' '+data['c3'] +' '

In [65]:
descriptions[0]

'9.5 9.5 53 -10 1/26 Dmitri_Mendeleev Regeneration 45 Japan Pratibha_Patil Barter_Transactions Economic_Problem Financial_Statements State_Entrepreneurship '

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
def create_similarity_matrix(new_description, overall_descriptions):

  overall_descriptions.append(new_description)
        
  tfidf = TfidfVectorizer(stop_words="english")
        
  tfidf_matrix = tfidf.fit_transform(overall_descriptions)
        
  tfidf_matrix.shape
        
  cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)
  return cosine_sim

In [61]:
def get_recommendations(new_description,overall_descriptions):
  
  cosine_sim = create_similarity_matrix(new_description,overall_descriptions)
  
  sim_scores = list(enumerate(cosine_sim[-1]))
  
  sim_scores = sorted(sim_scores,key =lambda x:x[1],reverse= True )
  
  sim_scores = sim_scores[110:111]
  
  indices = [i[0]for i in sim_scores]
  return data.iloc[indices]

In [63]:
new_description = pd.Series('9.5	9.5	53	-10	1/26	Dmitri_Mendeleev	Regeneration	45	Japan	Pratibha_Patil	Barter_Transactions	Economic_Problem	Financial_Statements	State_Entrepreneurship')

In [64]:
get_recommendations(new_description,descriptions)

,perc_9,perc_10,s1,s2,s3,s4,s5,s6,a1,a2,a3,c1,c2,c3,stream
176,8.5,7.5,53,-10,1/26,Dmitri_Mendeleev,Regeneration,55,Japan,Pratibha_Patil,Barter_Transactions,Economic_Problem,Financial_Statements,State_Entrepreneurship,science